body{
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", "Cascadia Code", "Segoe UI Mono", "Source Code Pro", Menlo, Consolas, "Liberation Mono", sans-serif;
}
img{
    width: 100%;
}
figcaption{
    color: #505050;
}
h1, h2, h3, h4, h5, h6{
    font-size: 100%;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
article h1::before{
    content: "# ";
}
h2::before{
    content: "## ";
}
h3::before{
    content: "### ";
}
h4::before{
    content: "#### ";
}
h5::before{
    content: "##### ";
}
h6::before{
    content: "###### ";
}
p{
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
}
ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a{
    color: #000;
    text-decoration: underline;
}
.minglingh{
    font-weight: bold;
}
.shuc{
    font-weight: normal;
}
.lvs{
    color: #26a269;
}
.lans{
    color: #12488b;
}
nav li{
    list-style-type: none;
    display: inline;
    margin-right: 1em;
}
pre{
    overflow: auto;
}