<span class="minglingh"><span class="lvs">{{ .Site.Params.Author }}@{{ .Site.Title }}</span>:<span class="lans">~</span>$ uname -n</span>
{{ if or (.IsHome) (.IsNode) }}
    <h1><a href="{{ .Site.BaseURL }}" class="shuc">{{ .Site.Title }}</a></h1>
{{ else }}
    <br><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><br>
{{ end }}
<span class="minglingh"><span class="lvs">{{ .Site.Params.Author }}@{{ .Site.Title }}</span>:<span class="lans">~</span>$ ls</span>
{{ with .Site.Menus.main }}
<nav>
    <ul>
        {{ range . }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}