<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .IsHome }}
        <title>/{{ .Site.Title }}</title>
    {{ else if and (eq .Type "wenzhang") ( .IsNode ) }}
        <title>文章 /{{ .Site.Title }}</title>
    {{ else if and (eq .Type "riji") ( .IsNode ) }}
        <title>日记 /{{ .Site.Title }}</title>
    {{ else }}
        <title>{{ .Title }} /{{ .Site.Title }}</title>
    {{ end }}
	{{ with .Site.Params.author }}
        <meta name="author" content="{{ . }}">
    {{ end }}
    {{ if .Description }}
        <meta name="description" content="{{ .Description }}">
    {{ else }}
        <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    {{ if .Keywords }}
        <meta name="keywords" content="{{ .keywords }}">
    {{ else }}
        <meta name="keywords" content="{{ .Site.Params.keywords }}">
    {{ end }}
    <link rel="shortcut icon" href="{{ .Site.Params.icon }}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}">
</head>